body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f4f4f4;
}

header {
  background: #222;
  color: white;
  padding: 20px;
  text-align: center;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 21px;
}

.news-item {
  background: white;
  margin-bottom: 21px;
  padding: 15px;
  border-radius: 8px;
}

.news-item img {
  width: 100%;
  height: auto;
  border-radius: 7px;
}